.appHeader{
  padding: 25px 0;
  text-align: center;
}

.headerText{
  color: rgb(224, 174, 66);
}
.mainH3{
  margin-bottom: 2%;
  color: rgb(151, 226, 53);
}

.square{
  background: white ;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.square:focus{
  outline: none;
}

.border-row{
  clear: both;
  content: '';
  display: table;
}


.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.winner{
  margin-left: 40px;
  margin-bottom: 10px;
  color: #DA7F2A;
}
